<%- include("header") -%>

<div class="wrapper">
    <div class="nested-wrapper">
        <div class="content">
            <img class="bank-image" src="/images/bank.png" alt="BANK">
            <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;">WELCOME TO ONLINE BANKING SYSTEM</h1>
            <p>  This is a banking portal that enables the users to send and receive money in a simple and efficient manner</p>
        </div>
    </div>

</div>

<script >
    $(document).ready(function(){
        $("#footer").css("display","none");
        $("#search-box").css("display","none");
        let bodyHeight = $(document).outerHeight();
            let footerHeight = $(".navbar").outerHeight();
            let bodyWrapperHeight = bodyHeight-footerHeight;
            $(".wrapper").css('height',`${bodyWrapperHeight}px`);
    });
</script>

<%-include("footer")-%>
